
@media screen and (max-width: 1000px) {

  .nav{
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #logo{
      position: absolute;
      cursor: pointer;
    }
    #phone-menu{
      position: relative;
      top: -12.5em;
      display: flex;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.76);
      width: 100%;
      transition: top 1s ease-out;
    }
  }
  .header {
    .hero {
      h1 {
        font-size: 4em;
      }
      h3{
        font-size: 2em;
        background-color: rgba(0, 0, 0, 0.7);
      }
      p{
        font-size: 1.5em;
      }
    }
  }

  .footer{
    .footer-container{
      h2{
        font-size: 2em;
      }
      h4{
        font-size: 1.5em;
      }
    }

    .footer-container,.map{
      width: 98% ;
    }
    .map{
      height: 150px;
    }

  }
}





